*{ margin:0;
padding:0;
box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background: url(../img/fondo1.png);
	background-size: cover;
	animation: fondo 100s linear infinite;
	-webkit-animation: fondo 100s linear infinite;

}

@keyframes fondo{
	to{
		background-position: 0 -600%;
	}
}
@-webkit-keyframes fondo{
	to{
		background-position: 0 -600%;
	}
}